.logIn-component {
    box-sizing: border-box;
    background-color: rgb(81, 4, 100);
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    height: 100vh;
  }
  
  .presentation {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
  }
  
  .logInSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .logInSection h1 {
    text-align: left;
    /* margin-left: 14%; */
    margin-bottom: 8px;
    font-size: 30px;
  }
  
  .logInSection p {
    text-align: left;
    /* margin-left: 14%; */
  }
  .signInGoogle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10%;
    cursor: pointer;
    padding: 0px;
    border-style: none;
    border-radius: 4px;
    
  }
  
  .googleIcon {
    background-color: white;
    width: 49px;
    height: 36px;
    border-radius: 10px;
    
  }
  
  .googleIcon img {
    padding-top: 4px;
    margin: 0px;
    
  }

  footer {
    margin-left: 20%;
    margin-top: 80px;
  }
  